[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
flask = 'pipenv run python src/main.py'
