[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.3.3"
gunicorn = "21.2.0"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "pipenv run gunicorn -b 0.0.0.0:7777 -w 2 --chdir src/ main:app"